* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  background: #f5f7fb;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.app {
  background: rgb(255, 255, 255);
  width: 350px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  margin-top:100px;
}

h1 {
  text-align: center;
}

.input-group {
  display: flex;
  gap: 8px;
}

input {
  flex: 1;
  padding: 8px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
}

.task-text.completed {
  text-decoration: line-through;
  color: gray;
}

.actions button {
  margin-left: 4px;
}

#emptyState {
  text-align: center;
  color: #777;
  margin-top: 15px;
}
